/*Container-perfil*/
.section-perfil-user {
    margin: 5% 0;
    padding: 30px;
    width: 850px;
    color: black;
}

/*Perfil-container*/
.perfil-container {
    text-align: center;
    margin-bottom: 5%;
    /* background-color: rgb(246, 243, 243); */
    border: 1px solid rgba(0, 0, 0, 0.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.perfil-role {
    display: flex;
    align-items: center;
    gap: 30px;
}

.role-perfil {
    padding: 5px 20px;
    background: linear-gradient(45deg, #2d5a3d, #4a90e2);
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.name-role {
    display: flex;
    justify-content: center;
    gap: 30px;
}

hr {
    margin: 3% 0;
}

 /*Campos user*/
.campos-user {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    width: 100%;
}

.campos-item {
    border: 1px solid rgba(0, 0, 0, 0.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    /* background-color: rgb(246, 243, 243); */
    background: #ebe8e8;
    padding: 10px 15px;
    text-align: justify;
}

.campos-item p {
    font-size: 12px;
}

.user-label {
    font-weight: 700;
    font-size: 13px;
}

.perfil-container, .mis-posts-container {
    background-color: rgb(246, 243, 243);
    padding: 5%;
}

/*Mis post container*/
.mis-posts-container {
    border: 1px solid rgba(0, 0, 0, 0.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.title-posts-client {
    text-align: center;
    font-weight: 600;
    margin-top: 5%;
}

.posts-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 2%;
}

.posts-client {
    width: 300px;
    background: white;
    margin-bottom: 5%;

    border: 1px solid rgba(0, 0, 0, 0.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.posts-client img {
    width: 100%;
    height: 170px;
    border-radius: 5px 5px 0 0;
}

.posts-client span {
    margin-left: 10px;
}

.title-client-article {
    font-weight: 600;
    font-size: 15px;

}

.date-post {
    font-size: 13px;
    padding-bottom: 10px;
}

.title-client-article, .date-post {
    padding: 5px 10px;
}