.articles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-container {
    width: 370px;
    height: 500px;
    margin-bottom: 10%;
    /* background: linear-gradient(to right, rgba(126, 168, 60, 0.7), rgba(71, 184, 157, 0.7)); */
}

.card-container img {
    width: 100%;
    height: 220px;
}

.post-category {
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
}

.post-subcategory {
    display: inline-block;
    padding: 0.3rem 1rem;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    background-color: #c5c5c5;
    margin-left: 5px;
}

.category-botany {
    background: linear-gradient(to right, #2e7d32, #66bb6a);
}

.category-astronomy {
    background: linear-gradient(to right, #1e3a8a, #3b82f6);
}

.card-title,
.card-content {
    color: black;
}

.card-title {
    margin: 10px 0;
    font-weight: 500;
    font-size: 20px;
}

.card-content {
    margin-bottom: 15px;
    font-size: 13px;
    height: 100px;
    overflow: hidden;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #999;
}

.post-user-author {
    color: lightgray;
}

.read-more {
    text-decoration: none;
    color: var(--color-azul-oscuro);
    font-weight: 600;
}

.read-more:hover {
    text-decoration: underline;
}