:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Gama de colores*/
  --color-celeste-oscuro: #005262;
  --color-verde: #1d7435;
  --color-turquesa: #047b89;
  --color-azul-oscuro: #0138;
  --color-verde-claro: #7ea83c;
  /* Navbar y footer */

  /* ---Botones--- */
  --color-golden-buttons: #d4af37;
  /* Texto secundario o botones secundarios */
  --color-rocket-grey: #3c3c3c;
  /* Fondo de sección tarjetas indi detatalle */
  --color-beige-darker: #bc9e76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
  background-color: #EFEDED;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  width: 100%;
}